# Web: o navegador está no mesmo computador que executa o Spring.
EXPO_PUBLIC_API_URL_WEB=http://localhost:8080

# Expo Go: troque pelo IPv4 do computador na rede local.
# Exemplo:
EXPO_PUBLIC_API_URL_MOBILE=http://192.168.0.15:8080

# Se estiver usando Android Emulator em vez de Expo Go:
# EXPO_PUBLIC_API_URL_MOBILE=http://10.0.2.2:8080
