# Em celular físico, use o IP do computador na rede local.
# Exemplo:
# EXPO_PUBLIC_API_URL=http://192.168.0.15:8080

# Android Emulator normalmente acessa o host por:
EXPO_PUBLIC_API_URL=http://10.0.2.2:8080
